USE [master]
GO
/****** Object:  Database [Складской учет]    Script Date: 03.03.2025 8:29:38 ******/
CREATE DATABASE [Складской учет]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Складской учет', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Складской учет.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Складской учет_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Складской учет_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Складской учет].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Складской учет]
GO
/****** Object:  Table [dbo].[Инвентаризация]    Script Date: 03.03.2025 8:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Инвентаризация](
	[ID_Инвентаризации] [int] IDENTITY(1,1) NOT NULL,
	[Дата_Проведения] [date] NOT NULL,
	[Ответственный] [int] NOT NULL,
	[Результаты] [nvarchar](255) NULL,
 CONSTRAINT [PK__Инвентар__248DDDF5A8DA391E] PRIMARY KEY CLUSTERED 
(
	[ID_Инвентаризации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 03.03.2025 8:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[ID_Клиента] [int] IDENTITY(1,1) NOT NULL,
	[Название_Клиента] [nvarchar](255) NOT NULL,
	[Контактные_данные] [nvarchar](100) NOT NULL,
	[Адрес] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Остатки_На_Складе]    Script Date: 03.03.2025 8:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Остатки_На_Складе](
	[ID_Остатка] [int] IDENTITY(1,1) NOT NULL,
	[ID_Товара] [int] NOT NULL,
	[ID_Склада] [int] NOT NULL,
	[Текущее_Количество] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Остатка] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Пользователь]    Script Date: 03.03.2025 8:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Пользователь](
	[Номер] [int] NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Пароль] [nvarchar](50) NOT NULL,
	[Роль] [int] NULL,
	[Дата_Рождения] [date] NULL,
	[Изображение] [varbinary](max) NULL,
 CONSTRAINT [PK_Пользователь] PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Поставщики]    Script Date: 03.03.2025 8:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Поставщики](
	[ID_Поставщика] [int] IDENTITY(1,1) NOT NULL,
	[Название_Поставщика] [nvarchar](255) NOT NULL,
	[ИНН_КПП] [nvarchar](20) NOT NULL,
	[Контактные_данные] [nvarchar](100) NOT NULL,
	[Адрес] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Поставщика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Приходные_Накладные]    Script Date: 03.03.2025 8:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Приходные_Накладные](
	[ID_Приходной_Накладной] [int] IDENTITY(1,1) NOT NULL,
	[Номер_Накладной] [nvarchar](50) NOT NULL,
	[Дата_Поступления] [date] NOT NULL,
	[ID_Поставщика] [int] NOT NULL,
	[Общая_Сумма] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Приходной_Накладной] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Расходные_Накладные]    Script Date: 03.03.2025 8:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Расходные_Накладные](
	[ID_Расходной_Накладной] [int] IDENTITY(1,1) NOT NULL,
	[Номер_Накладной] [nvarchar](50) NOT NULL,
	[Дата_Отгрузки] [date] NOT NULL,
	[ID_Клиента] [int] NOT NULL,
	[Общая_Сумма] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Расходной_Накладной] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Роли]    Script Date: 03.03.2025 8:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[Номер] [int] NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Роли] PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Склады]    Script Date: 03.03.2025 8:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Склады](
	[ID_Склада] [int] IDENTITY(1,1) NOT NULL,
	[Название_Склада] [nvarchar](255) NOT NULL,
	[Адрес] [nvarchar](255) NOT NULL,
	[Тип_Склада] [nvarchar](50) NOT NULL,
	[Зона_Хранения] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Склада] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Строки_Инвентаризации]    Script Date: 03.03.2025 8:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Строки_Инвентаризации](
	[ID_Строки_Инвентаризации] [int] IDENTITY(1,1) NOT NULL,
	[ID_Инвентаризации] [int] NOT NULL,
	[ID_Товара] [int] NOT NULL,
	[Фактическое_Количество] [int] NOT NULL,
	[Учетное_Количество] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Строки_Инвентаризации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Строки_Приходных_Накладных]    Script Date: 03.03.2025 8:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Строки_Приходных_Накладных](
	[ID_Строки_Приходной_Накладной] [int] IDENTITY(1,1) NOT NULL,
	[ID_Приходной_Накладной] [int] NOT NULL,
	[ID_Товара] [int] NOT NULL,
	[Количество] [int] NOT NULL,
	[Цена] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Строки_Приходной_Накладной] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Строки_Расходных_Накладных]    Script Date: 03.03.2025 8:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Строки_Расходных_Накладных](
	[ID_Строки_Расходной_Накладной] [int] IDENTITY(1,1) NOT NULL,
	[ID_Расходной_Накладной] [int] NOT NULL,
	[ID_Товара] [int] NOT NULL,
	[Количество] [int] NOT NULL,
	[Цена] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Строки_Расходной_Накладной] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Товары]    Script Date: 03.03.2025 8:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары](
	[ID_Товара] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](255) NOT NULL,
	[Артикул] [nvarchar](50) NOT NULL,
	[Штрихкод] [nvarchar](50) NOT NULL,
	[Категория] [nvarchar](100) NOT NULL,
	[Единица_измерения] [nvarchar](20) NOT NULL,
	[Цена_за_единицу] [decimal](10, 2) NOT NULL,
	[Серийный_номер] [nvarchar](50) NULL,
	[Минимальный_остаток] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Товара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Инвентаризация] ON 

INSERT [dbo].[Инвентаризация] ([ID_Инвентаризации], [Дата_Проведения], [Ответственный], [Результаты]) VALUES (1, CAST(N'2022-01-01' AS Date), 1, NULL)
INSERT [dbo].[Инвентаризация] ([ID_Инвентаризации], [Дата_Проведения], [Ответственный], [Результаты]) VALUES (2, CAST(N'2022-06-01' AS Date), 1, N'Результаты инвентаризации')
INSERT [dbo].[Инвентаризация] ([ID_Инвентаризации], [Дата_Проведения], [Ответственный], [Результаты]) VALUES (3, CAST(N'2022-12-01' AS Date), 1, NULL)
SET IDENTITY_INSERT [dbo].[Инвентаризация] OFF
SET IDENTITY_INSERT [dbo].[Клиенты] ON 

INSERT [dbo].[Клиенты] ([ID_Клиента], [Название_Клиента], [Контактные_данные], [Адрес]) VALUES (1, N'ООО "РитейлМаркет"', N'+7 495 123-45-67', N'Москва, Ленинский проспект, 10')
INSERT [dbo].[Клиенты] ([ID_Клиента], [Название_Клиента], [Контактные_данные], [Адрес]) VALUES (2, N'ООО "Торговый Дом"', N'+7 812 111-22-33', N'Санкт-Петербург, Невский проспект, 40')
INSERT [dbo].[Клиенты] ([ID_Клиента], [Название_Клиента], [Контактные_данные], [Адрес]) VALUES (3, N'ООО "КомпьютерМагазин"', N'+7 343 222-33-44', N'Екатеринбург, Ленина улица, 50')
SET IDENTITY_INSERT [dbo].[Клиенты] OFF
SET IDENTITY_INSERT [dbo].[Остатки_На_Складе] ON 

INSERT [dbo].[Остатки_На_Складе] ([ID_Остатка], [ID_Товара], [ID_Склада], [Текущее_Количество]) VALUES (3, 4, 1, 10)
INSERT [dbo].[Остатки_На_Складе] ([ID_Остатка], [ID_Товара], [ID_Склада], [Текущее_Количество]) VALUES (4, 5, 2, 5)
INSERT [dbo].[Остатки_На_Складе] ([ID_Остатка], [ID_Товара], [ID_Склада], [Текущее_Количество]) VALUES (5, 6, 1, 3)
SET IDENTITY_INSERT [dbo].[Остатки_На_Складе] OFF
INSERT [dbo].[Пользователь] ([Номер], [Фамилия], [Имя], [Отчество], [Логин], [Пароль], [Роль], [Дата_Рождения], [Изображение]) VALUES (0, N'Збруев', N'Антон', N'Владимирович', N'2', N'2', 2, CAST(N'2005-10-20' AS Date), NULL)
INSERT [dbo].[Пользователь] ([Номер], [Фамилия], [Имя], [Отчество], [Логин], [Пароль], [Роль], [Дата_Рождения], [Изображение]) VALUES (1, N'Семакина', N'Лада', N'Владиславовна', N'1', N'1', 1, CAST(N'2005-04-15' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Поставщики] ON 

INSERT [dbo].[Поставщики] ([ID_Поставщика], [Название_Поставщика], [ИНН_КПП], [Контактные_данные], [Адрес]) VALUES (1, N'ООО "ТехноСтрой"', N'1234567890', N'+7 495 123-45-67', N'Москва, Ленинский проспект, 10')
INSERT [dbo].[Поставщики] ([ID_Поставщика], [Название_Поставщика], [ИНН_КПП], [Контактные_данные], [Адрес]) VALUES (2, N'ООО "ЭлектроСнаб"', N'9876543210', N'+7 812 111-22-33', N'Санкт-Петербург, Невский проспект, 40')
INSERT [dbo].[Поставщики] ([ID_Поставщика], [Название_Поставщика], [ИНН_КПП], [Контактные_данные], [Адрес]) VALUES (3, N'ООО "КомпьютерСервис"', N'1111111111', N'+7 343 222-33-44', N'Екатеринбург, Ленина улица, 50')
SET IDENTITY_INSERT [dbo].[Поставщики] OFF
SET IDENTITY_INSERT [dbo].[Приходные_Накладные] ON 

INSERT [dbo].[Приходные_Накладные] ([ID_Приходной_Накладной], [Номер_Накладной], [Дата_Поступления], [ID_Поставщика], [Общая_Сумма]) VALUES (1, N'ПН-001', CAST(N'2022-01-01' AS Date), 1, CAST(100000.00 AS Decimal(10, 2)))
INSERT [dbo].[Приходные_Накладные] ([ID_Приходной_Накладной], [Номер_Накладной], [Дата_Поступления], [ID_Поставщика], [Общая_Сумма]) VALUES (2, N'ПН-002', CAST(N'2022-01-15' AS Date), 2, CAST(50000.00 AS Decimal(10, 2)))
INSERT [dbo].[Приходные_Накладные] ([ID_Приходной_Накладной], [Номер_Накладной], [Дата_Поступления], [ID_Поставщика], [Общая_Сумма]) VALUES (3, N'ПН-003', CAST(N'2022-02-01' AS Date), 3, CAST(200000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Приходные_Накладные] OFF
SET IDENTITY_INSERT [dbo].[Расходные_Накладные] ON 

INSERT [dbo].[Расходные_Накладные] ([ID_Расходной_Накладной], [Номер_Накладной], [Дата_Отгрузки], [ID_Клиента], [Общая_Сумма]) VALUES (1, N'РН-001', CAST(N'2022-01-10' AS Date), 1, CAST(50000.00 AS Decimal(10, 2)))
INSERT [dbo].[Расходные_Накладные] ([ID_Расходной_Накладной], [Номер_Накладной], [Дата_Отгрузки], [ID_Клиента], [Общая_Сумма]) VALUES (2, N'РН-002', CAST(N'2022-01-20' AS Date), 2, CAST(100000.00 AS Decimal(10, 2)))
INSERT [dbo].[Расходные_Накладные] ([ID_Расходной_Накладной], [Номер_Накладной], [Дата_Отгрузки], [ID_Клиента], [Общая_Сумма]) VALUES (3, N'РН-003', CAST(N'2022-02-10' AS Date), 3, CAST(150000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Расходные_Накладные] OFF
INSERT [dbo].[Роли] ([Номер], [Наименование]) VALUES (1, N'Администратор')
INSERT [dbo].[Роли] ([Номер], [Наименование]) VALUES (2, N'Кладовщик')
INSERT [dbo].[Роли] ([Номер], [Наименование]) VALUES (3, N'Менеджер по продажам')
SET IDENTITY_INSERT [dbo].[Склады] ON 

INSERT [dbo].[Склады] ([ID_Склада], [Название_Склада], [Адрес], [Тип_Склада], [Зона_Хранения]) VALUES (1, N'Склад на Ленинском', N'Москва, Ленинский проспект, 10', N'Товарный склад', NULL)
INSERT [dbo].[Склады] ([ID_Склада], [Название_Склада], [Адрес], [Тип_Склада], [Зона_Хранения]) VALUES (2, N'Склад на Кутузовском', N'Москва, Кутузовский проспект, 20', N'Промышленный склад', N'Зона А')
INSERT [dbo].[Склады] ([ID_Склада], [Название_Склада], [Адрес], [Тип_Склада], [Зона_Хранения]) VALUES (3, N'Склад на Тверской', N'Москва, Тверская улица, 30', N'Товарный склад', N'Зона З')
SET IDENTITY_INSERT [dbo].[Склады] OFF
SET IDENTITY_INSERT [dbo].[Строки_Инвентаризации] ON 

INSERT [dbo].[Строки_Инвентаризации] ([ID_Строки_Инвентаризации], [ID_Инвентаризации], [ID_Товара], [Фактическое_Количество], [Учетное_Количество]) VALUES (3, 1, 4, 10, 10)
INSERT [dbo].[Строки_Инвентаризации] ([ID_Строки_Инвентаризации], [ID_Инвентаризации], [ID_Товара], [Фактическое_Количество], [Учетное_Количество]) VALUES (4, 1, 5, 5, 5)
INSERT [dbo].[Строки_Инвентаризации] ([ID_Строки_Инвентаризации], [ID_Инвентаризации], [ID_Товара], [Фактическое_Количество], [Учетное_Количество]) VALUES (5, 2, 6, 20, 20)
SET IDENTITY_INSERT [dbo].[Строки_Инвентаризации] OFF
SET IDENTITY_INSERT [dbo].[Строки_Приходных_Накладных] ON 

INSERT [dbo].[Строки_Приходных_Накладных] ([ID_Строки_Приходной_Накладной], [ID_Приходной_Накладной], [ID_Товара], [Количество], [Цена]) VALUES (4, 1, 4, 10, CAST(5000.00 AS Decimal(10, 2)))
INSERT [dbo].[Строки_Приходных_Накладных] ([ID_Строки_Приходной_Накладной], [ID_Приходной_Накладной], [ID_Товара], [Количество], [Цена]) VALUES (5, 1, 4, 5, CAST(3000.00 AS Decimal(10, 2)))
INSERT [dbo].[Строки_Приходных_Накладных] ([ID_Строки_Приходной_Накладной], [ID_Приходной_Накладной], [ID_Товара], [Количество], [Цена]) VALUES (6, 2, 5, 20, CAST(4000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Строки_Приходных_Накладных] OFF
SET IDENTITY_INSERT [dbo].[Строки_Расходных_Накладных] ON 

INSERT [dbo].[Строки_Расходных_Накладных] ([ID_Строки_Расходной_Накладной], [ID_Расходной_Накладной], [ID_Товара], [Количество], [Цена]) VALUES (3, 1, 4, 5, CAST(5000.00 AS Decimal(10, 2)))
INSERT [dbo].[Строки_Расходных_Накладных] ([ID_Строки_Расходной_Накладной], [ID_Расходной_Накладной], [ID_Товара], [Количество], [Цена]) VALUES (4, 1, 4, 3, CAST(3000.00 AS Decimal(10, 2)))
INSERT [dbo].[Строки_Расходных_Накладных] ([ID_Строки_Расходной_Накладной], [ID_Расходной_Накладной], [ID_Товара], [Количество], [Цена]) VALUES (5, 2, 5, 10, CAST(4000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Строки_Расходных_Накладных] OFF
SET IDENTITY_INSERT [dbo].[Товары] ON 

INSERT [dbo].[Товары] ([ID_Товара], [Название], [Артикул], [Штрихкод], [Категория], [Единица_измерения], [Цена_за_единицу], [Серийный_номер], [Минимальный_остаток]) VALUES (4, N'Телевизор Samsung
', N'ТВ-001
', N'1234567890
', N'Электроника
', N'шт.
', CAST(25000.00 AS Decimal(10, 2)), NULL, 5)
INSERT [dbo].[Товары] ([ID_Товара], [Название], [Артикул], [Штрихкод], [Категория], [Единица_измерения], [Цена_за_единицу], [Серийный_номер], [Минимальный_остаток]) VALUES (5, N'Ноутбук Dell Inspiron', N'Dell-001', N'1234567890123', N'Компьютеры', N'шт', CAST(50000.00 AS Decimal(10, 2)), NULL, 5)
INSERT [dbo].[Товары] ([ID_Товара], [Название], [Артикул], [Штрихкод], [Категория], [Единица_измерения], [Цена_за_единицу], [Серийный_номер], [Минимальный_остаток]) VALUES (6, N'Смартфон Samsung Galaxy', N'Samsung-002', N'9876543210987', N'Мобильные телефоны', N'шт', CAST(30000.00 AS Decimal(10, 2)), NULL, 10)
SET IDENTITY_INSERT [dbo].[Товары] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Товары__2AF1CF03B8357554]    Script Date: 03.03.2025 8:29:38 ******/
ALTER TABLE [dbo].[Товары] ADD UNIQUE NONCLUSTERED 
(
	[Штрихкод] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Инвентаризация]  WITH CHECK ADD  CONSTRAINT [FK_Инвентаризация_Пользователь] FOREIGN KEY([Ответственный])
REFERENCES [dbo].[Пользователь] ([Номер])
GO
ALTER TABLE [dbo].[Инвентаризация] CHECK CONSTRAINT [FK_Инвентаризация_Пользователь]
GO
ALTER TABLE [dbo].[Остатки_На_Складе]  WITH CHECK ADD  CONSTRAINT [FK_Остатки_На_Складе_Склады] FOREIGN KEY([ID_Склада])
REFERENCES [dbo].[Склады] ([ID_Склада])
GO
ALTER TABLE [dbo].[Остатки_На_Складе] CHECK CONSTRAINT [FK_Остатки_На_Складе_Склады]
GO
ALTER TABLE [dbo].[Остатки_На_Складе]  WITH CHECK ADD  CONSTRAINT [FK_Остатки_На_Складе_Товары] FOREIGN KEY([ID_Товара])
REFERENCES [dbo].[Товары] ([ID_Товара])
GO
ALTER TABLE [dbo].[Остатки_На_Складе] CHECK CONSTRAINT [FK_Остатки_На_Складе_Товары]
GO
ALTER TABLE [dbo].[Пользователь]  WITH CHECK ADD  CONSTRAINT [FK_Пользователь_Роли] FOREIGN KEY([Роль])
REFERENCES [dbo].[Роли] ([Номер])
GO
ALTER TABLE [dbo].[Пользователь] CHECK CONSTRAINT [FK_Пользователь_Роли]
GO
ALTER TABLE [dbo].[Приходные_Накладные]  WITH CHECK ADD  CONSTRAINT [FK_Приходные_Накладные_Поставщики] FOREIGN KEY([ID_Поставщика])
REFERENCES [dbo].[Поставщики] ([ID_Поставщика])
GO
ALTER TABLE [dbo].[Приходные_Накладные] CHECK CONSTRAINT [FK_Приходные_Накладные_Поставщики]
GO
ALTER TABLE [dbo].[Расходные_Накладные]  WITH CHECK ADD  CONSTRAINT [FK_Расходные_Накладные_Клиенты] FOREIGN KEY([ID_Клиента])
REFERENCES [dbo].[Клиенты] ([ID_Клиента])
GO
ALTER TABLE [dbo].[Расходные_Накладные] CHECK CONSTRAINT [FK_Расходные_Накладные_Клиенты]
GO
ALTER TABLE [dbo].[Строки_Инвентаризации]  WITH CHECK ADD  CONSTRAINT [FK_Строки_Инвентаризации_Инвентаризация] FOREIGN KEY([ID_Инвентаризации])
REFERENCES [dbo].[Инвентаризация] ([ID_Инвентаризации])
GO
ALTER TABLE [dbo].[Строки_Инвентаризации] CHECK CONSTRAINT [FK_Строки_Инвентаризации_Инвентаризация]
GO
ALTER TABLE [dbo].[Строки_Инвентаризации]  WITH CHECK ADD  CONSTRAINT [FK_Строки_Инвентаризации_Товары] FOREIGN KEY([ID_Товара])
REFERENCES [dbo].[Товары] ([ID_Товара])
GO
ALTER TABLE [dbo].[Строки_Инвентаризации] CHECK CONSTRAINT [FK_Строки_Инвентаризации_Товары]
GO
ALTER TABLE [dbo].[Строки_Приходных_Накладных]  WITH CHECK ADD  CONSTRAINT [FK_Строки_Приходных_Накладных_Приходные_Накладные] FOREIGN KEY([ID_Приходной_Накладной])
REFERENCES [dbo].[Приходные_Накладные] ([ID_Приходной_Накладной])
GO
ALTER TABLE [dbo].[Строки_Приходных_Накладных] CHECK CONSTRAINT [FK_Строки_Приходных_Накладных_Приходные_Накладные]
GO
ALTER TABLE [dbo].[Строки_Приходных_Накладных]  WITH CHECK ADD  CONSTRAINT [FK_Строки_Приходных_Накладных_Товары] FOREIGN KEY([ID_Товара])
REFERENCES [dbo].[Товары] ([ID_Товара])
GO
ALTER TABLE [dbo].[Строки_Приходных_Накладных] CHECK CONSTRAINT [FK_Строки_Приходных_Накладных_Товары]
GO
ALTER TABLE [dbo].[Строки_Расходных_Накладных]  WITH CHECK ADD  CONSTRAINT [FK_Строки_Расходных_Накладных_Расходные_Накладные] FOREIGN KEY([ID_Расходной_Накладной])
REFERENCES [dbo].[Расходные_Накладные] ([ID_Расходной_Накладной])
GO
ALTER TABLE [dbo].[Строки_Расходных_Накладных] CHECK CONSTRAINT [FK_Строки_Расходных_Накладных_Расходные_Накладные]
GO
ALTER TABLE [dbo].[Строки_Расходных_Накладных]  WITH CHECK ADD  CONSTRAINT [FK_Строки_Расходных_Накладных_Товары] FOREIGN KEY([ID_Товара])
REFERENCES [dbo].[Товары] ([ID_Товара])
GO
ALTER TABLE [dbo].[Строки_Расходных_Накладных] CHECK CONSTRAINT [FK_Строки_Расходных_Накладных_Товары]
GO
USE [master]
GO
